@charset "utf-8";

/*=====================================================
 * Description:ブラウザ固有のスタイルリセットと全般的なタグの基本スタイル設定（PC,SP共通）
 * Version: 0.02
 * Last Up Date: 2016/02/03
=====================================================*/



/*-----  contents -------

	1: Universal Reset
	2: Body and Base setting
		: General parameter setting

----------------------*/


/*
===== 1: Universal reset =================================*/

html,body {
	width: 100%;
	height: 100%;
}


body, header, footer, h1, h2, h3, h4, h5, h6,
div, p, dl, dt, dd, ul, ol, li, em,
input, textarea , select {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
	border: 0;
}



/*
===== 2: Body and Base setting ===========================*/

body {
	color: #252525;
	background: #ffffff;
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS","Droid Sans","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-size: 13px;
	line-height: 1.3;
	-webkit-text-size-adjust: none;
}


/* General parameter setting
--------------------*/

header, footer, section, nav, aside {
	display: block;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; line-height: 1; }
img {
	vertical-align: baseline;
	border: none;
}
a {
	color: #196ed3;
	text-decoration: underline;
}
a:hover {
	color: #707070;
	text-decoration: none;
}

ul, ol {
	list-style: none;
}
input, textarea, select, button {
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS","Droid Sans","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-size: 13px;
	line-height: 1.4;
}
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}