@charset "utf-8";

/*=====================================================
 * Description:PC　サイト内共通のレイアウト枠の設定
 * Version: 0.11
 * Last Up Date: 2016/05/12
=====================================================*/



/*-----  contents -------

	1: clearfix
	2: ヘッダ [id="cmnHeader"]
	3: コンテナー [id="cmnContainer"]
	4: コンテンツ [id="main"]
	5: サマリーエリア [id="summaryArea"]
	6: フッター [id="cmnFooter"]
	7: Partner Page Style

----------------------*/


/*1:clearfix
=================================*/

div#cmnContainer:after,
div#cmnHeaderWrapper:after,
div#cmnHeader:after,
div#cmnHeader .amcUserInfo:after,
.headerMenu:after,
div#cmnWrapper:after,
div#main:after,
.section:after {
	content : '';
	display : block;
	clear : both;
}

div#cmnContainer,
div#cmnHeaderWrapper,
div#cmnHeader,
div#cmnHeader .amcUserInfo,
.headerMenu,
div#cmnWrapper,
div#main,
.section { *zoom: 1; }/* IE hack */



/*2:ヘッダ [id="cmnHeader"]
=================================*/

#cmnHeader {
	position: relative;
}
#cmnHeader .headerWrapper {
	border-top: #1a6dfa 5px solid;
	background-color: #1a6dfa;
	min-width: 950px;
}

#cmnHeader .header {
	position: relative;
	margin: 0 auto;
	padding: 8px 0 0;
	width: 950px;
	min-width: auto;
	height: 43px;
}

#cmnHeader a {
	color: #ffffff;
	text-decoration: underline;
}
#cmnHeader .btnBase {
	text-decoration: none;
}
#cmnHeader a:hover {
	color: #ffffff;
	text-decoration: none;
}
#cmnHeader .logo {
	width: 274px;
	margin: 0;
}
#cmnHeader .logo a { display: block; }

#cmnHeader.ach .logo a:focus,
#cmnHeader.sfc .logo a:focus,
#cmnHeader.bronze .logo a:focus,
#cmnHeader.diamond .logo a:focus,
#cmnHeader.platinum .logo a:focus {
		outline-offset: 3px;
}

.headerMenu {
	position: absolute;
	top: 11px;
	right: 0;
}
.headerMenu li {
	float: left;
	padding: 5px 0 0 30px;
}
.headerMenu li a {
	padding-left: 9px;
	background: url(../../image/icon/icon_arrow_01.png?b5e4d62) left center no-repeat;
}
.headerMenu li.btnLogoutArea {
	padding-top: 0;
}
#cmnHeader .headerMenu li.btnLogoutArea a.btnLogout {
	display: block;
	padding: 4px 5px 2px;
	padding: 4px\9; /* IE8hack */
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #012f64;
	text-align: center;
	color: #012f64;
}

#cmnHeader .headerMenu li.btnLogoutArea a.btnLogout:hover { background-color: #e1effe; }
#cmnHeader .headerMenu li.btnLogoutArea a.btnLogout:focus {
	outline-offset: 3px;
}
#cmnHeader .amcUserInfoWrapper {
	position: relative;
	border-bottom: #cccccc 1px solid;
}

#cmnHeader .amcUserInfo {
	margin: 0 auto;
	width: 950px;
}

#cmnHeader .userName {
	float: left;
	margin: 0;
	padding: 0 0 0 52px;
	width: 298px;
	height: 54px;
	background-position: left center;
	background-repeat: no-repeat;
	font-size: 138%;
	font-weight: bold;
}
#cmnHeader .userName table {
	height: 54px;
}
#cmnHeader .userName table td {
	vertical-align: middle;
	line-height: 1.2;
}

#cmnHeader .userName span {
	margin-left: 7px;
	font-size: 72%;
}


#cmnHeader .balance {
	float: right;
	width: 600px;
	text-align: right;
}
#cmnHeader .balance>table {
	float: right;
	margin: 12px 0;
	width: auto;
	line-height: 1.2;
}
#cmnHeader .balance>table>tbody>tr>td {
	padding: 0 10px;
	border-left: #cccccc 1px solid;
	vertical-align: bottom;
}
#cmnHeader .balance>table>tbody>tr>td.lastCol {
	padding-right: 0;
}
#cmnHeader .balance>table>tbody>tr>td.upgradePoint {
	vertical-align: top;
}
#cmnHeader .balance>table td th {
	padding: 0;
	font-size: 92%;
	font-weight: normal;
	text-align: left;
}
#cmnHeader .balance>table td td {
	padding: 0 0 0 12px;
	font-weight: bold;
}
#cmnHeader .balance>table td td span {
	margin-left: 5px;
	font-size: 92%;
}
#cmnHeader .balance>table td td.nowTime,
#cmnHeader .balance>table td td.pointLink  {
	padding: 0 0 1px 0;
	text-align: left;
	font-weight: normal;
}
#cmnHeader .balance>table td td a {
	color: #196ed3;
	text-decoration: underline;
}
#cmnHeader .balance>table td td a:hover {
	color: #707070;
	text-decoration: none;
}


/* status change */
#cmnHeader.rurubu .logo,
#cmnHeader.benefit .logo,
#cmnHeader.introduceNet .logo {
	width: auto;
	background: none;
}
#cmnHeader.rurubu .logo img,
#cmnHeader.benefit .logo img,
#cmnHeader.introduceNet .logo img { visibility: visible; }
#cmnHeader.rurubu .header {
	padding-top: 12px;
	height: 39px;
}
#cmnHeader.benefit .header {
	padding-top: 5px;
	height: 46px;
}

#cmnHeader.amc .headerMenu,
#cmnHeader.ach .headerMenu,
#cmnHeader.bronze .headerMenu,
#cmnHeader.sfc .headerMenu,
#cmnHeader.platinum .headerMenu,
#cmnHeader.diamond .headerMenu { top: 13px; }

#cmnHeader.ach .headerWrapper {
	border-color: #05346c;
	background: url(../../image/bg/bg_header_ach_ie8.gif?af588cb) center top repeat; /* IE8/IE9 */
	background: -moz-linear-gradient(left, #eeeeee 60%, #595959 60%);
	background: -webkit-gradient(linear, left center, right center, from(#eeeeee), color-stop(0.6, #eeeeee), color-stop(0.6, #595959), to(#595959));
	background: -webkit-linear-gradient(left, #eeeeee 60%, #595959 60%);
	background: -ms-linear-gradient(left, #eeeeee 60%, #595959 60%);
	background: linear-gradient(to right, #eeeeee 60%, #595959 60%);
}
#cmnHeader.ach .header {
	background: url(../../image/bg/bg_header_ach.png?18e5dce) right bottom no-repeat;
}

#cmnHeader.bronze .headerWrapper {
	border-color: #05346c;
	background: url(../../image/bg/bg_header_bronze_ie8.gif?6eb3fba) center top repeat; /* IE8/IE9 */
	background: -moz-linear-gradient(left, #eeeeee 60%, #79623c 60%);
	background: -webkit-gradient(linear, left center, right center, from(#eeeeee), color-stop(0.6, #eeeeee), color-stop(0.6, #79623c), to(#79623c));
	background: -webkit-linear-gradient(left, #eeeeee 60%, #79623c 60%);
	background: -ms-linear-gradient(left, #eeeeee 60%, #79623c 60%);
	background: linear-gradient(to right, #eeeeee 60%, #79623c 60%);
}
#cmnHeader.bronze .header {
	background: url(../../image/bg/bg_header_bronze.png?28f1ac6) right bottom no-repeat;
}

#cmnHeader.sfc .headerWrapper {
	border-color: #05346c;
	background: url(../../image/bg/bg_header_sfc_ie8.gif?c80860e) center top repeat; /* IE8/IE9 */
	background: -moz-linear-gradient(left, #eeeeee 60%, #294374 60%);
	background: -webkit-gradient(linear, left center, right center, from(#eeeeee), color-stop(0.6, #eeeeee), color-stop(0.6, #294374), to(#294374));
	background: -webkit-linear-gradient(left, #eeeeee 60%, #294374 60%);
	background: -ms-linear-gradient(left, #eeeeee 60%, #294374 60%);
	background: linear-gradient(to right, #eeeeee 60%, #294374 60%);
}
#cmnHeader.sfc .header {
	background: url(../../image/bg/bg_header_sfc.png?dcc98ec) right bottom no-repeat;
}

#cmnHeader.platinum .headerWrapper {
	border-color: #05346c;
	background: url(../../image/bg/bg_header_platinum_ie8.gif?4dbdea0) center top repeat; /* IE8/IE9 */
	background: -moz-linear-gradient(left, #eeeeee 60%, #455aa9 60%);
	background: -webkit-gradient(linear, left center, right center, from(#eeeeee), color-stop(0.6, #eeeeee), color-stop(0.6, #455aa9), to(#455aa9));
	background: -webkit-linear-gradient(left, #eeeeee 60%, #455aa9 60%);
	background: -ms-linear-gradient(left, #eeeeee 60%, #455aa9 60%);
	background: linear-gradient(to right, #eeeeee 60%, #455aa9 60%);
}
#cmnHeader.platinum .header {
	background: url(../../image/bg/bg_header_platinum.png?9542f00) right bottom no-repeat;
}

#cmnHeader.diamond .headerWrapper {
	border-color: #05346c;
	background: url(../../image/bg/bg_header_diamond_ie8.gif?42f1685) center top repeat; /* IE8/IE9 */
	background: -moz-linear-gradient(left, #eeeeee 60%, #9a4151 60%);
	background: -webkit-gradient(linear, left center, right center, from(#eeeeee), color-stop(0.6, #eeeeee), color-stop(0.6, #9a4151), to(#9a4151));
	background: -webkit-linear-gradient(left, #eeeeee 60%, #9a4151 60%);
	background: -ms-linear-gradient(left, #eeeeee 60%, #9a4151 60%);
	background: linear-gradient(to right, #eeeeee 60%, #9a4151 60%);
}
#cmnHeader.diamond .header {
	background: url(../../image/bg/bg_header_diamond.png?322ac6d) right bottom no-repeat;
}

#cmnHeader.rurubu .headerWrapper,
#cmnHeader.benefit .headerWrapper,
#cmnHeader.amc .headerWrapper {
	border-color: #05346c;
	background: #eeeeee;
}
#cmnHeader.rurubu .header,
#cmnHeader.benefit .header {
	background: url(../../image/logo/ana_logo_cooperation.png?1a11d6c) no-repeat right 17px;
}
#cmnHeader.introduceNet .headerWrapper {
	border: none;
	background: #01009a;
}
#cmnHeader.introduceNet .header {
	padding-top: 3px;
	height: 42px;
	background: url(../../image/bg/bg_header_introduce_net.png?73dac37) right bottom no-repeat;
}

#cmnHeader.rurubu a,
#cmnHeader.benefit a,
#cmnHeader.amc a {
	color: #252525;
}
#cmnHeader.rurubu .headerMenu {
	padding-right: 228px;
}
#cmnHeader.rurubu .headerMenu li a,
#cmnHeader.benefit .headerMenu li a,
#cmnHeader.amc .headerMenu li a {
	background-image: url(../../image/icon/icon_arrow_02.png?47a73f2);
}
#cmnHeader.ach .headerMenu li.btnLogoutArea a.btnLogout,
#cmnHeader.bronze .headerMenu li.btnLogoutArea a.btnLogout,
#cmnHeader.sfc .headerMenu li.btnLogoutArea a.btnLogout,
#cmnHeader.platinum .headerMenu li.btnLogoutArea a.btnLogout,
#cmnHeader.diamond .headerMenu li.btnLogoutArea a.btnLogout {
	border-color: #ffffff;
}
#cmnHeader.ach .headerMenu li.btnLogoutArea a.btnLogout:hover,
#cmnHeader.bronze .headerMenu li.btnLogoutArea a.btnLogout:hover,
#cmnHeader.sfc .headerMenu li.btnLogoutArea a.btnLogout:hover,
#cmnHeader.platinum .headerMenu li.btnLogoutArea a.btnLogout:hover,
#cmnHeader.diamond .headerMenu li.btnLogoutArea a.btnLogout:hover {
	border-color: #e1effe;
}

/* accessibility対応で画像は背景でやらない方針へ
#cmnHeader.amc .userName { background-image: url(../../image/icon/icon_status_01.png?e1dcd82); }
#cmnHeader.ach .userName { background-image: url(../../image/icon/icon_status_02.png?7d9fc69); }
#cmnHeader.bronze .userName { background-image: url(../../image/icon/icon_status_03.png?50ca7b1); }
#cmnHeader.sfc .userName { background-image: url(../../image/icon/icon_status_04.png?244aaaa); }
#cmnHeader.platinum .userName { background-image: url(../../image/icon/icon_status_05.png?c122e84); }
#cmnHeader.diamond .userName { background-image: url(../../image/icon/icon_status_06.png?490dc7e); }
#cmnHeader .userName.noIcon {
	padding-left: 0;
	background-image: none;
}
*/
#cmnHeader .userName {
	padding-left: 0;
}
#cmnHeader .userName .nameWrap {
	display: table;
	width:100%;
}
#cmnHeader .userName .status {
	display: table-cell;
	width: 44px;
	padding-right: 10px;
	vertical-align: middle;
}
#cmnHeader .userName .status .statusIcon {
	vertical-align: middle;
}
#cmnHeader .userName .name {
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
}


/* popup */
.popup #cmnHeader .headerWrapper {
	min-width: 580px;
}

.popup #cmnHeader .header {
	padding: 8px 10px 0;
	width: 560px;
	min-width: auto;
}

.popup #cmnHeader .header {
	background-position: 315px 0;
}


/*3:コンテナー [id="cmnContainer"]
=================================*/

#cmnContainer {
	margin: 0 auto;
	width: 950px;
}
.navSkip {
	display: none;
}

/* cmnWrapper */
#cmnWrapper {
	margin: 0 auto;
}



/*4:コンテンツ [id="main"]
=================================*/
#main {
	float: left;
	width: 730px;
}
#main.noSummaryArea {
	width: 950px;
}


/*5:サマリーエリア [id="summaryArea"]
=================================*/
#cmnWrapper #summaryArea {
	float: right;
	width: 200px;
}



/*6:フッター [id="cmnFooter"]
=================================*/

#cmnFooterWrapper {
	min-width: 950px;
	background-color: #05336a;
}
#cmnFooter {
	position: relative;
	margin: 50px auto 0;
	padding: 10px 0;
	min-height: 10px;
	width: 950px;
	min-width: auto;
	color: #ffffff;
	font-size: 83.33%;
}
#cmnFooter a {
	color: #ffffff;
	text-decoration: underline;
}
#cmnFooter a:hover {
	color: #ffffff;
	text-decoration: none;
}
#cmnFooter .copyright {
	margin-top: 10px;
}
#cmnFooter .starAllianceLogo {
	position: absolute;
	bottom: 5px;
	right: 0;
	text-align: right;
}
#cmnFooter ul {
	width: 100%;
}
#cmnFooter ul li {
	display: inline-block;
	/display: inline; /* IE7hack */
	/zoom: 1; /* IE7hack */
	margin-right: 10px;
	padding: 0 10px 2px 0;
	border-right: #cccccc 1px solid;
}
#cmnFooter ul li.lastChild {
	margin-right: 0;
	padding-right: 0;
	border: none;
}
#cmnFooterWrapper #cmnFooter .blankText {
	position: relative;
	margin-top: 10px;
	padding-left: 14px;
}
#cmnFooterWrapper #cmnFooter .blankText img {
	position: absolute;
	top: 2px;
	left: 0;
}

/* popup */
.popup #cmnFooterWrapper {
	min-width: 580px;
}
.popup #cmnFooter {
	padding: 10px;
	width: 560px;
	min-width: auto;
}
.popup #cmnFooter .starAllianceLogo {
	right: 10px;
}



/*7: Partner Page Style
=================================*/
/* header */
#cmnHeader.partnerHeader .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}
#cmnHeader.partnerHeader .headerWrapper {
	border-top: none;
}
#cmnHeader.partnerHeader .logo {
	width: auto;
	background: transparent;
}
#cmnHeader.partnerHeader .logo img {
	visibility: visible;
}
#cmnHeader.partnerHeader .headerMenu {
	position: static;
	display: flex;
	justify-content: flex-end;
}
#cmnHeader.partnerHeader .headerMenu li {
	float: none;
	padding: 0;
	margin-left: 32px;
}
#cmnHeader.partnerHeader .headerMenu li a {
	color: #252525;
	background: url(../../image/icon/icon_arrow_10.png?bcd7872) left center no-repeat;
	background-size: 5px 6px;
}
#cmnHeader.partnerHeader .headerMenu li:first-child {
	margin-left: 0;
}

/* footer */
#cmnFooterWrapper.partnerFooter {
	margin-top: 50px;
}
#cmnFooterWrapper.partnerFooter #cmnFooter {
	margin: 0 auto;
	color: #252525;
}
#cmnFooterWrapper.partnerFooter #cmnFooter a {
	color: #252525;
}
#cmnFooterWrapper.partnerFooter .partnerFooterArea {
	padding: 10px 0;
	width: 950px;
	margin: 0 auto;
	font-size: 83.33%;
	color: #252525;
}
#cmnFooterWrapper.partnerFooter .partnerFooterArea ul li {
	display: inline-block;
	margin-right: 10px;
	padding: 0 10px 2px 0;
	border-right: #cccccc 1px solid;
}
#cmnFooterWrapper.partnerFooter .partnerFooterArea ul li:last-child {
	border-right: none;
}
#cmnFooterWrapper.partnerFooter .partnerFooterArea ul li a {
	color: #252525;
	text-decoration: underline;
}
#cmnFooterWrapper.partnerFooter .partnerFooterArea ul li a:hover {
	text-decoration: none;
}
#cmnFooterWrapper.partnerFooter .partnerFooterArea .textArea {
	margin-top: 10px;
}

/* ado */
#cmnHeader.ado .headerWrapper {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
}
#cmnHeader.ado .header {
	height: 73px;
}
#cmnFooterWrapper.ado {
	background-color: #ffffff;
}
#cmnFooterWrapper.ado .cmnFooterOuter {
	border-top: 5px solid #fff34b;
}
#cmnFooterWrapper.ado .partnerFooterWrap {
	border-top: 1px solid #cccccc;
	margin-bottom: 1px;
	border-bottom: 5px solid #88d1f5;
}

/* snj */
#cmnHeader.snj .headerWrapper {
	background-color: #ffffff;
	border-bottom: 2px solid #97bb2a;
}
#cmnHeader.snj .header {
	height: 73px;
}
#cmnFooterWrapper.snj {
	background-color: #97bb2a;
}
#cmnFooterWrapper.snj #cmnFooter ul li {
	border-right-color: #ffffff;
}
#cmnFooterWrapper.snj .partnerFooterArea {
	border-bottom: 1px solid #ffffff;
}
#cmnFooterWrapper.snj .partnerFooterArea ul li {
	border-right-color: #ffffff;
}

/* orc */
#cmnHeader.orc .headerWrapper {
	background-color: #fff;
	border-bottom: 2px solid #00adef;
}
#cmnHeader.orc .header {
	height: 73px;
}
#cmnFooterWrapper.orc {
	background-color: #262742;
}
#cmnFooterWrapper.orc #cmnFooter {
	color: #ffffff;
}
#cmnFooterWrapper.orc #cmnFooter ul li {
	border-right-color: #cccccc;
}
#cmnFooterWrapper.orc #cmnFooter a {
	color: #ffffff;
}
#cmnFooterWrapper.orc .partnerFooterArea {
	color: #ffffff;
	border-bottom: 1px solid #cccccc;
}
#cmnFooterWrapper.orc .partnerFooterArea ul li {
	border-right-color: #cccccc;
}
#cmnFooterWrapper.orc .partnerFooterArea ul li a {
	color: #ffffff;
}


/* sfj */
#cmnHeader.sfj .headerWrapper {
	background-color: #000000;
}
#cmnHeader.sfj .header {
	height: 75px;
}
#cmnHeader.sfj .headerMenu li a {
	color: #ffffff;
	background: url(../../image/icon/icon_arrow_01.png?b5e4d62) left center no-repeat;
	background-size: 5px 6px;
}
#cmnFooterWrapper.sfj {
	background-color: #ffffff;
	border-top: 1px solid #cccccc;
}

#cmnFooterWrapper.sfj #cmnFooter ul li {
	border-right-color: #cccccc;
}
#cmnFooterWrapper.sfj .partnerFooterArea {
	border-bottom: 1px solid #cccccc;
}
#cmnFooterWrapper.sfj .partnerFooterArea ul li {
	border-right-color: #cccccc;
}


/* ibex */
#cmnHeader.ibex .headerWrapper {
	background-color: #d40e7d;
}
#cmnHeader.ibex .header {
	height: 75px;
}
#cmnHeader.ibex .headerMenu li a {
	color: #ffffff;
	background: url(../../image/icon/icon_arrow_01.png?b5e4d62) left center no-repeat;
	background-size: 5px 6px;
}
#cmnFooterWrapper.ibex {
	background-color: #00205b;
}
#cmnFooterWrapper.ibex #cmnFooter {
	color: #ffffff;
}
#cmnFooterWrapper.ibex #cmnFooter ul li {
	border-right-color: #cccccc;
}
#cmnFooterWrapper.ibex #cmnFooter a {
	color: #ffffff;
}
#cmnFooterWrapper.ibex .partnerFooterArea {
	color: #ffffff;
	border-bottom: 1px solid #cccccc;
}
#cmnFooterWrapper.ibex .partnerFooterArea ul li {
	border-right-color: #cccccc;
}
#cmnFooterWrapper.ibex .partnerFooterArea ul li a {
	color: #ffffff;
}