@charset "utf-8";

/*=====================================================
 * Description:PC　支払方法入力、払戻情報入力
 * Version: 0.17
 * Last Up Date: 2021/02/25
=====================================================*/



/*-----  contents -------

	 1: お支払情報入力
	 2: 運賃内訳
	 3: 解約完了
	 4: 払戻情報入力

----------------------*/


/*1: お支払情報入力
=================================*/
.btnFareDetail {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -13px;
}
.priceSummary .btnFareDetail .btnBase {
	padding: 3px 20px;
	width: auto;
}


/* ANAスカイコイン */
.skyCoin { margin-top: 15px; }
.skyCoinContetns {
	position: relative;
	border: 1px solid #cccccc;
}
.skyCoinDetailWrap {
	padding: 11px 0 15px 0;
	border-bottom: 1px solid #cccccc;
	/zoom: 1; /* IE7hack */
}
.skyCoinDetailWrap:after {
	content : '';
	display : block;
	clear : both;
}
.skyCoinContetns h3 {
	float: left;
	margin-top: 4px;
	width: 150px;
}
.skyCoinContetns h3 .iconInfo {
	vertical-align: -4px;
}
.skyCoinContetns .skyCoinDetail {
	float: right;
	margin: 0 10px -10px 0;
}
.skyCoinContetns .skyCoinDetail li {
	display: inline-block;
	/display: inline; /* IE7hack */
	/zoom: 1; /* IE7hack */
	margin-left: 10px;
}

/* accessibility */
.accessibility.skyCoinContetns h3 {
	width: auto;
	margin-top: 2px;
}
.accessibility .skyCoinDetailWrap {
	padding-bottom: 17px;
}
.accessibility.skyCoinContetns h3 .informationIconLarge {
	top: 2px;
}

.skyCoinBalance span {
	font-size: 108%;
}
.skyCoinBalance .price {
	display: inline-block;
	width: 95px;
	font-size: 138%;
	font-weight: bold;
	text-align: right;
}
.skyCoinBalance .currencyCode {
	display: inline-block;
	margin-left: 5px;
}
.btnReload a {
    padding: 4px 10px 3px;
}
.btnMileageToSkyCoin a {
    padding: 4px 25px 3px 20px;
}
.useSkyCoin { margin: 15px 10px; }
.useSkyCoin ul { display: inline-block; }
.useSkyCoin ul li {
	display: inline-block;
	/display: inline; /* IE7hack */
	/zoom: 1; /* IE7hack */
	font-size: 108%;
}
.useSkyCoin ul li+li { margin-left: 15px; }
.useSkyCoin input[type="radio"] { margin-right: 5px; }
.useSkyCoin p {
	display: inline-block;
	margin-left: 35px;
	font-size: 108%;
}

/* passengerSkyCoin */
table.passengerSkyCoin thead th .supplement { font-weight: normal; }
table.passengerSkyCoin tbody td {
	width: 24%;
	height: 33px;
}
table.passengerSkyCoin tbody td.lastCol { width: 50%; }
table.passengerSkyCoin tbody td span { margin: 0 5px; }
table.passengerSkyCoin tbody td.lastCol span { margin: 0; }
table.passengerSkyCoin tbody td.lastCol input+span,
table.passengerSkyCoin tbody td.lastCol span+input { margin-left: 10px; }
table.passengerSkyCoin tbody tr.lastChild th,
table.passengerSkyCoin tbody tr.lastChild td { border-bottom: none; }
.widthSkyCoin {
	width: 84px;
	text-align: right;
}
.skyCoinContetns + .errorTxt { margin-left: 50%; padding-left: 10px; }

/* accessibility */
table.passengerSkyCoin.accessibility thead td.headCell {
	padding: 0 0 6px 10px;
	text-align: left;
	font-weight: bold;
	border: none;
	width: auto;
	font-size: 100%;
}
table.passengerSkyCoin.accessibility thead td.headCell .supplement {
	font-weight: normal;
}
table.passengerSkyCoin.accessibility tbody td.headCell {
	width: 26%;
	height: auto;
	padding: 10px 5px 10px 10px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #eeeeee;
	color: #1b1b1b;
	font-size: 108%;
	font-weight: bold;
	text-align: left;
}
table.passengerSkyCoin.accessibility tbody tr.lastChild td.headCell {
	border-bottom: none;
}

/* skyCoinSummary */
.skyCoinSummary {
	margin-top: 15px;
	text-align: right;
}
.skyCoinSummary div {
	display: inline-block;
	/display: inline; /* IE7hack */
	/zoom: 1; /* IE7hack */	
}
.skyCoinSummary dl {
	display: inline-block;
	/display: inline; /* IE7hack */
	/zoom: 1; /* IE7hack */
	width: 160px;
	min-height: 64px;
	border: #cccccc 1px solid;
	vertical-align: top;
}
.skyCoinSummary dl dt {
	margin: 10px 10px 0;
	font-weight: bold;
	text-align: left;
	line-height: 1;
}
.skyCoinSummary dl dd {
	margin: 10px 10px 0;
	font-size: 108%;
	font-weight: bold;
}
.skyCoinSummary dl dd .price { font-size: 134%; }
.skyCoinSummary dl dd .currencyCode {
	margin-left: 5px;
	font-size: 103%;
}
.skyCoinSummary dl.skyCoinSummaryTotal,
.breakdownSummary dl.breakdownSummaryTotal {
	min-height: 62px;
	border-width: 2px;
}
.skyCoinSummary dl.skyCoinSummaryTotal dd {
	margin-top: 1px;
	color: #d14704
}
.skyCoinSummary dl.skyCoinSummaryTotal .price { font-size: 190%; }
.skyCoinSummary .iconEqual {
	padding-left: 20px;
	width: 176px;
	background: url(../../image/icon/icon_equal.png?84d4db9) no-repeat 10px center;
	vertical-align: top;
}
.skyCoinSummary .iconMinus {
	padding-left: 20px;
	width: 180px;
	background: url(../../image/icon/icon_minus.png?1c1590f) no-repeat 12px center;
	vertical-align: top;
}
.skyCoinSummary .iconPlus {
	padding-left: 20px;
	width: 180px;
	background: url(../../image/icon/icon_plus.png?b943089) no-repeat 12px center;
	vertical-align: top;
}

/* summaryWrap */
.summaryWrap {
	margin: 20px 0 0;
}
.payTogether { position: relative; }
.payTogether .pcPriceToggle a { top: 12px; margin-top: 0; }
.payTogether dt.toggleTrigger {
	padding: 14px 10px;
	font-size: 123%;
	font-weight: bold;
}
.subNote { border: 1px solid #cccccc; }
.toggleContentsCredit {
	display: none;
	padding-bottom: 15px;
}
/* accessibility */
.accessibility .payTogether .pcPriceToggle a {
	margin-top: 0;
	display: block;
	position: absolute;
	right: 10px;
	width: 25px;
	height: 25px;
	background: none;
	overflow: hidden;
	text-indent: 0;
	white-space: normal;
	top: 12px;
	margin-top: 0;
}


/* payment */
.payment {
	position: relative;
	/zoom: 1; /* IE7hack */
}
.payment:after {
	content : '';
	display : block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: #012f64;
	z-index: 200;
}

/* tabPaymentList */
.tabPaymentList {
	display: table;
	margin-top: 35px;
	border: 0;
}

.tabPaymentList li {
	display: table-cell;
	border-top: #c6cfe4 1px solid;
	border-right: #c6cfe4 1px solid;
	background-color: #e2e8f7;
	font-weight: bold;
	vertical-align: middle;
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.tabPaymentList li:hover { background-color: #c3d4ef; }
.tabPaymentList li.firstChild {
	border-left: #c6cfe4 1px solid;
	border-radius: 3px 0 0 0;
	-moz-border-radius: 3px 0 0 0;
	-webkit-border-radius: 3px 0 0 0;
	-ms-border-radius: 3px 0 0 0;
}
.tabPaymentList li.lastChild {
	border-right: #c6cfe4 1px solid;
	border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	-webkit-border-radius: 0 3px 0 0;
	-ms-border-radius: 0 3px 0 0;
}
.tabPaymentList.listOne li {
	border-left: #c6cfe4 1px solid;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-mos-border-radius: 3px 3px 0 0;
}
.tabPaymentList.listOne li a {
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-mos-border-radius: 3px 3px 0 0;
}
.tabPaymentList li.selected,
.tabPaymentList.listOne li.selected {
	background: #012f64;
	border-color: #012f64;
	cursor: default;
}
.tabPaymentList li.disable {
	background: #e4e4e4;
	border-color: #cccccc;
	color: #898989;
	cursor: default;
}
.tabPaymentList li.disable>span {
	display: table;
	width: 100%;
	padding: 15px 0 19px;
	font-size: 108%;
	text-decoration: none;
	word-break: break-all;
}

.tabPaymentList a {
	display: table;
	width: 100%;
	padding: 15px 0 19px;
	font-size: 108%;
	color: #012f64;
	text-decoration: none;
	word-break: break-all;
}
.tabPaymentList a span,
.tabPaymentList span span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.tabPaymentList li.firstChild a {
	border-radius: 3px 0 0 0;
	-moz-border-radius: 3px 0 0 0;
	-webkit-border-radius: 3px 0 0 0;
	-ms-border-radius: 3px 0 0 0;
}
.tabPaymentList li.lastChild a {
	border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	-webkit-border-radius: 0 3px 0 0;
	-ms-border-radius: 0 3px 0 0;
}
.tabPaymentList li.selected a { color: #ffffff; }
.listFive li { width: 146px; }
.listFour li { width: 182px; }
.listFour li.lastChild { width: 184px; }
.listThree li { width: 243px; }
.listThree li.lastChild { width: 244px; }
.listTwo li { width: 365px; }
.listOne li { width: 730px; }


/* タブ内共通 */
.tabContents h2 { margin-top: 30px; }
.tabContents h3 { font-size: 123%; }
.tabContents h3 .iconInfo { margin-left: 10px; }
.tabContents .formCheckbox { margin-top: 25px; }
.tabContents .btnAreaSubmitWrap { padding: 0 10px; }
.headSummary {
    margin-top: 15px;
    padding: 10px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.headSummary li+li {
	margin-top: 8px;
}
/* accessibility */
.tabContents .accessibility h3.noDecorationTitle .informationIconLarge {
	vertical-align: 5.5px;
}

/* クレジットカード */
.formInput {
	margin-top: 15px;
	border-top: 1px solid #cccccc;
	overflow: hidden\9;/* IE8ハック */
}
.toggleContentsCredit .formInput { margin-top: 0; }
.formInput dl {
	margin-top: 15px;
	padding: 0 10px;
}
.formInput dt {
	display: table-cell;
	padding: 7px 10px 0 0;
	width: 190px;
	font-size: 108%;
	font-weight: bold;
	vertical-align: top;
	word-break: break-all;
}
.formInput .exampleCard dt { padding-top: 0; vertical-align: middle; }
.formInput .exampleCard img { vertical-align: middle; }
.formInput dd {
	display: table-cell;
	width: 510px;
	vertical-align: middle;
}
.formInput dd+dd {
	display: block;
	margin: 15px 0 0 120px;
}

.formInput dl ul { *zoom: 1; /* IE hack */ }
.formInput dl ul:after {
	content : '';
	display : block;
	clear : both;
}
.formInput dd ul.horizontalList li {
	float: left;
	margin-right: 10px;
}
.formInput dd ul.horizontalList li .honorific { margin-left: 7px; vertical-align: middle; }
.formInput .saveCard { margin: 15px 0 0 210px; }
/* accessibility */
.accessibility .formInput .nonTitleItem {
	margin-top: 15px;
	padding: 0 10px 0 210px;
}

/* accessibility02 */
.accessibility02 .formInput .nonTitleItem {
	margin-top: 15px;
	padding: 0 10px 0 210px;
}
.accessibility02 .formInput dl {
	padding: 0;
}
.accessibility02 .formInput dl > div {
	padding: 0 10px;
}
.accessibility02 .formInput dl > div+div {
	margin-top: 15px;
}

.securityInput li+li { margin-top: 15px; }

/* コンビニ */
.checkTable { margin-top: 15px; width: 100%; }
.checkTable td {
	position: relative;
	padding-left: 10px;
	width: 50%;
	border: #cccccc 1px solid;
	font-weight: bold;
	vertical-align: middle;
}
.tableConvenience td {
	padding-right: 150px;
	height: 60px;
}
.checkTable td label {
	display: inline-block;
	z-index: 50;
}
.checkTable td input[type="radio"] {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}
.tableConvenience td a.iconInfo { position: relative; z-index: 150; }
.tableConvenience td.convenience01 { background: url(../../image/figure/convenience_01.png?6ade582) no-repeat 232px 17px; }
.tableConvenience td.convenience02 { background: url(../../image/figure/convenience_02.png?b39327f) no-repeat 225px 18px; }
.tableConvenience td.convenience03 { background: url(../../image/figure/convenience_03.png?e0d4536) no-repeat 270px 12px; }
.tableConvenience td.convenience04 { background: url(../../image/figure/convenience_04.png) no-repeat 212px 21px; }
.tableConvenience td.convenience05 { background: url(../../image/figure/convenience_05.png?88e311e) no-repeat 232px 12px; }
.tableConvenience td.convenience06 { background: url(../../image/figure/convenience_06.png?ec5bb21) no-repeat 220px 17px; }
/* accessibility */
.accessibility .tableConvenience td {
	padding: 0;
}
.accessibility .tableConvenience td .labelWrap {
	display: table;
	width: 100%;
	height: 100%;
}
.accessibility .tableConvenience td .labelWrap .input {
	display: table-cell;
	vertical-align: middle;
	width: 21px;
	padding-left: 10px;
}
.accessibility .tableConvenience td .labelWrap .input input {
	position: relative;
	top: -2px;
}
.accessibility .tableConvenience td .labelWrap .name {
	display: table-cell;
	vertical-align: middle;
	width: 196px;
	font-weight: bold;
	font-size: 108%;
}
.accessibility .tableConvenience td .labelWrap .image {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.accessibility .tableConvenience td .labelWrap .image img {
	vertical-align: middle;
}
.accessibility .tableConvenience td.convenience01 { background: none; }
.accessibility .tableConvenience td.convenience02 { background: none; }
.accessibility .tableConvenience td.convenience03 { background: none; }
.accessibility .tableConvenience td.convenience04 { background: none; }
.accessibility .tableConvenience td.convenience05 { background: none; }
.accessibility .tableConvenience td.convenience06 { background: none; }


.headSummary {
    margin-top: 15px;
    padding: 10px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.headSummary li { font-weight: bold; }
.headSummary li+li { margin-top: 8px; }

/* ネット振込 */
.tableNetBank td { height: 54px; }
.tableNetBank td .supplement {
	margin-left: 5px;
	font-weight: normal;
}
.tableNetBank td .note {
	font-size: 86%;
	font-weight: normal;
}

/* Pay-easy支払 */
.tablePayeasy {
	margin-top: 15px;
	width: auto;
}
.tablePayeasy td {
	padding: 10px 0 5px;
	width: 243px;
	border: #cccccc 1px solid;
}
.tablePayeasy td dl { margin: 0 10px; }
.tablePayeasy td dt { font-weight: bold; }
.tablePayeasy td dd {
	margin-top: 5px;
	color: #d14704;
	font-size: 154%;
	font-weight: bold;
}

/* 銀行振込 */
.tableBank td { height: 52px; }

.tableContact {
	margin-top: 15px;
	border-top: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
}
.tableContact th {
	padding: 10px;
	width: 27%;
	font-size: 108%;
	font-weight: bold;
	text-align: left;
}
.tableContact td {
	padding: 10px 10px 10px 0;
}



/*2: 運賃内訳
=================================*/
.skyCoinSummary.breakdownSummary dl { width: 190px; }
.breakdownSummary dl.breakdownSummaryTotal dd { color: #252525 }
.breakdownSummary .iconEqual dl.breakdownSummaryTotal dd { margin-top: 1px; }
.breakdownSummary .iconEqual dl.breakdownSummaryTotal .price { font-size: 184%; }
.skyCoinSummary.breakdownSummary .iconEqual {
	padding-left: 15px;
	width: 204px;
	background-position: 5px center;
}
.skyCoinSummary.breakdownSummary .iconMinus,
.skyCoinSummary.breakdownSummary .iconPlus {
	padding-left: 16px;
	width: 203px;
	background-position: 6px center;
}

.breakdownSummary+h3 { margin-top: 35px; }



/*3: マイル使用状況
=================================*/
.tableLimitMileage {
	border-bottom: #cccccc 1px solid;
	table-layout: fixed;
}
.tableLimitMileage thead th {
	padding: 6px 0;
	text-align: center;
	border-left: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	vertical-align: middle;
}
.tableLimitMileage thead th:first-child {
	padding-left: 10px;
	font-size: 108%;
	text-align: left;
	border-left: none;
}
.tableLimitMileage thead th.lastCol {
	padding-right: 0;
	font-size: 108%;
}
.tableLimitMileage tbody th {
	padding: 15px 10px;
	background: none;
	font-size: 108%;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.tableLimitMileage tbody td {
	padding: 15px 10px;
	border-left: #cccccc 1px solid;
	font-size: 108%;
	text-align: right;
}
.tableLimitMileage tbody tr:first-child th,
.tableLimitMileage tbody tr:first-child td { padding-bottom: 0 }
.tableLimitMileage tbody .restMileage th,
.tableLimitMileage tbody .restMileage td {
	padding: 10px;
	border-top: #cccccc 1px solid;
	font-weight: bold;
}
.tableLimitMileage tbody td.lastCol {
	font-size: 125%;
	font-weight: bold;
}
.tableLimitMileage tbody .restMileage td.lastCol { font-size: 143%; }
.tableLimitMileage tbody td .currencyCode { margin-left: 5px; }
.tableLimitMileage tbody td .price span { margin-right: 5px; }

.tableUnit {
	margin: 8px 10px 0;
	text-align: right;
	font-size: 105%;
}


/*3: 解約完了
=================================*/
.tableRefund tbody td {
	padding: 7px 10px;
	font-size: 100%;
}
.tableRefund tbody td+td {
	border-left: #cccccc 1px solid;
}
.tableRefund tbody td.tableCommonSectorTdCell2 {
	width: 162px;
}
.tableRefund tbody td.tableCommonSectorTdCell4 {
	width: auto;
}
.tableRefund tbody td.verticalBottom { vertical-align: bottom; }
.tableRefund tbody .price,
.tableRefund tbody .currencyCode {
	font-size: 108%;
	font-weight: normal;
}
.tableRefund tbody td dl+dl {
	margin-top: 7px;
	padding-top: 7px;
	border-top: #cccccc 1px solid;
}
.tableRefund tbody td dl dt {
}
.tableRefund tbody td dl dd {
	margin-top: 7px;
}
.tableRefund tbody td.reimbursements .price {
	font-size: 138%;
	font-weight: bold;
}
.refundNotice { margin: 7px 10px 0; }

table.tableRefundPassenger tbody th,
table.tableRefundPassenger tbody td,
.noSummaryArea table.tableRefundPassenger tbody th,
.noSummaryArea table.tableRefundPassenger tbody td {
	width: 170px;
}
table.tableRefundPassenger tbody td.lastCol,
.noSummaryArea table.tableRefundPassenger tbody td.lastCol {
	width: auto;
}
.tableRefundPassenger tbody td.separate {
	border-left: 1px solid #cccccc;
}
.tableRefundPassenger tbody td .price,
.tableRefundPassenger tbody .currencyCode { font-weight: normal; }
.tableRefundPassenger tbody .currencyCode { padding-left: 5px; }

.priceRefund {
	/* SP装飾用のスタイル */
}


/*4: 払戻情報入力
=================================*/
.priceSummaryRefundable dl { padding: 10px; }
.priceSummaryRefundable dd { color: #d14704; }
.priceSummaryRefundable dd em.price {
	margin-right: 0;
	font-size: 200%;
}
.tableRefundableBreakdown {
	margin-top: 14px;
	border-top: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	table-layout: fixed;
}
.priceSummaryWrap+.tableRefundableBreakdown {
	margin-top: 0;
	border-top: none;
}
.tableRefundableBreakdown th+th,
.tableRefundableBreakdown td { border-left: #cccccc 1px solid; }
.tableRefundableBreakdown thead th {
	width: 158px;
	height: 29px;
	padding: 6px 10px;
	border-bottom: #cccccc 1px solid;
	vertical-align: middle;
	text-align: left;
}
.noSummaryArea .tableRefundableBreakdown thead th {
	width: 175px;
}
.tableRefundableBreakdown thead th+th,
.noSummaryArea .tableRefundableBreakdown thead th+th {
	width: auto;
	padding: 6px 0;
	text-align: center;
}
.tableRefundableBreakdown tbody th {
	padding: 8px 5px 8px 10px;
	height: 24px;
	text-align: left;
}
.tableRefundableBreakdown tbody td {
	padding: 8px 10px;
	height: 24px;
	text-align: right;
}
.tableRefundableBreakdown tbody tr+tr th,
.tableRefundableBreakdown tbody tr+tr td { padding-top: 0; }
.tableRefundableBreakdown tbody td.refundable {
	font-size: 138%;
	font-weight: bold;
}
.tableRefundableBreakdown tbody td.refundable .unit {
    font-size: 71%;
    font-weight: normal;
    display: inline-block;
}
.tableRefundableBreakdown .total th,
.tableRefundableBreakdown .total td {
	padding-top: 8px;
	border-top: #cccccc 1px solid;
	font-weight: bold;
}
.refundableBreakdownUnit {
	margin-top: 10px;
	text-align: right;
}
.refundableBreakdownNote {
	margin-top: 3px;
	text-align: right;
}
.toggleTitle { position: relative; }
.toggleTitle .toggleSwitch {
	display: block;
	position: absolute;
	right: 10px;
	top: 12px;
	width: 25px;
	height: 25px;
	background: url(../../image/icon/toggle.png?cd8c7d0) left top no-repeat;
	text-indent: -9999px;
}
.toggleTitle .toggleSwitch:hover { background-position: right top; }

/* accessibility */
.accessibility.toggleTitle > a {
	display: block;
	position: absolute;
	right: 10px;
	top: 12px;
	width: 25px;
	height: 25px;
}
.accessibility.toggleTitle > a img {
	display: block;
}